body { 
    background: rgb(0,4,40);
background: linear-gradient(90deg, rgba(0,4,40,1) 3%, rgba(0,78,146,1) 100%);
}

*{
    box-sizing: border-box;
}

header {
    color: white; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 90px
    padding: 0 40px
}

header .logo {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700px;
}

header .menu ul{
    display: flex;
}

header .menu ul li{
    display: flex;
}


header .menu li a{
    font-size: .8rem;
    text-decoration: none;
    padding-right: 20px;
    color-scheme: white;
    color: white;
}

.sign-up {
    background: orange;
    padding-left: 18px;
    border-radius: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
}

#home {
    height: calc(100vh-90px);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

 #home .info-section {
     width: 50%;
 }

 #home .info-section h1 {
    font-size: 3.5rem;
    font-weight: 900;
    color: white;
    padding: 150px;
    margin-bottom: -7rem;
 }

 .container {
    max-width: 1400px;
    margin: 0 auto;
 }

#home .info-section h4 {
    font-size: 1rem;
    color: white;
    font-weight: 300px;
    padding-left: 150px;
    letter-spacing: 2px;
    margin-bottom: 15rem;
}

 #home .call-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
 }

#home .call-actions .action-button, .call-actions .action-ghost-btn {
    background: lightblue;
    padding: 20px 20px;
    border-radius: 40px;
    width: 200px;
    display: flex;
    justify-content: center;
    font-size: 
}

#home .action-button {
    

}
